[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=2.2.4"
psycopg2 = "*"
pillow = ">=6.2.0"
django-widget-tweaks = "*"
requests = "*"
urllib = "*"

[requires]
python_version = "3.6"
