<!doctype html>
<html class="no-js" lang="">

<head>
  {% load staticfiles %}
  {% load static %}
  <meta charset="utf-8">
  <title>Open Creative - Find your next creative gig from anywhere!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" /> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/opencreative-static/static/css/one.css">
  <meta name="theme-color" content="#fafafa">

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/opencreative-static/static/css/demo.css">
  <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/opencreative-static/static/css/component.css">
  <script src="https://storage.googleapis.com/opencreative-static/static/js/modernizr.custom.js">
  </script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
      <!-- <img src="https://storage.googleapis.com/opencreative-static/static/a-logo.png" height="50" width="50" class="d-inline-block align-top" />&nbsp; -->
      <h4 style="color:white;font-family: 'Helvetica Neue', sans-serif; font-size: 32px; font-weight: bold; letter-spacing: -1px; line-height: 1;">Open Creative</h4>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts' %}"><i class="far fa-newspaper"></i> News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'playlists' %}"><i class="fab fa-youtube"></i> Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}"><i class="fas fa-project-diagram"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}"><i class="fab fa-product-hunt"></i> Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:{document.getElementById(logout.submit())}"><i class="fa fa-sign-out"></i>Logout</a>
            <form id="logout" method="POST" action="{% url 'logout' %}" }>
              {% csrf_token %}
              <input type="hidden" />
            </form>
          </li>
          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts' %}"><i class="far fa-newspaper"></i> News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'playlists' %}"><i class="fab fa-youtube"></i> Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sign_up' %}"><i class="fas fa-user-plus"></i> Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </nav>

  <div class="container">

    {% block page_content %}{% endblock %}

  </div>

  {# The Footer #}
  <div class="footer">
    <div class="container text-center">
      <a href="{% url 'index' %}">
        <small>&#169; Open Creative {% now "Y" %}
        </small>
      </a>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
