{% extends "base.html" %}
{% block page_content %}

<div class="col-md-12 py-1">

  <small><a href="{% url 'brand' contributor %}">{{ contributor|capfirst }}</a> > &nbsp;<span class="badge badge-secondary">Review</span></small>

  <h1>{{ category | title }}</h1>

  <hr>

  {% for offer in offer %}

  <div class="col-md-6 mx-auto d-block">

    <h1 class="text-center">Please confirm</h1>

    <p>You would like <strong>{{ offer.short_name }}</strong> from <strong>{{ contributor|capfirst }}</strong> with the following features:</p>

    <!-- <form action="{% url 'thanks' %} #/sent" method="GET"> -->

    <form action="#sent" method="GET">
        {% csrf_token %}

          {{ form.product_type }}

        <div class="form-group">
          {{ form.product_size }}
        </div>
        <div class="form-group">
          {{ form.product_freq }}
        </div>
        <button type="submit" class="btn btn-success btn-lg mx-auto d-block">Continue to Checkout</button>

        <div class="text-center">
          <a href="{% url 'brand_select' contributor %}"<small>Or, go back to make changes</small></a>
        </div>
    </form>

  </div>

  <div class="py-1 text-center">

    <!-- <small><a href="{% url 'brand' contributor %}">Presented by {{ contributor|capfirst }}</a></small>
  </div>

  <br>
  <div class="row">
    <img src="{{ offer.image.url }}" class="mx-auto d-block" style="max-width:50px;" />
  </div>

  <div class="row">
    <p class="mx-auto d-block">{{ offer.summary }}</p>
  </div>

  <div class="row">
    <small class="mx-auto d-block">
      {% for category in offer.categories.all %}
      <span class="badge badge-secondary">{{ category.name }}
        {% endfor %}
    </small>
  </div> -->

  {% endfor %}

</div>

<hr>
{% endblock %}
